.navigation {
    border-bottom: 1px solid rgb(129, 170, 247);
    margin-bottom: 80px;
}

.navigation__list {
    list-style: none;
    line-height: 2;
    padding-left: 0;
}

.navigation__link {
    text-decoration: none;
    color: rgb(29, 147, 202);
    font-family: 'Fira Sans', sans-serif;
}

.navigation__link:hover {
    color: rgb(134, 207, 209);
    border-bottom: 1px solid;
    outline: none;
}

.navigation__link:active {
    color: brown;
}